.integrity-color{
  color:#CB9700;
}

.integrity-bg{
  background-color:#CB9700;
}

.integrity-bg:hover{
  background-color:#FFD147;
}

.integrity-bg:active {
  background-color:#FFEBAD;
}

.integrity-border {
  border-color:#CB9700;
}

.integrity-border:active {
  border-color:#FFEBAD;
}

.integrity-border:focus {
  border-color:#FFEBAD;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}